{% extends 'core/base_generic.html' %}

{% block title %}Hootter.com - Owl #{{ user_profile.id }}{% endblock title %}

{% block content %}
<div style="margin-top:20px;">
    <h1 style="font-weight:bold;">@{{ user_profile.username }} ({{ follower_count }} followers)</h1>
    <p>{{ user_profile.extended_profile.bio }}</p>  <!-- Ensure this is where you want the bio -->
    {% if request.user.is_authenticated and request.user != user_profile %}
        {% if is_following %}
            <a href="{% url 'user_management:unfollow_user' user_id=user_profile.id %}">Unfollow</a>
        {% else %}
            <a href="{% url 'user_management:follow_user' user_id=user_profile.id %}">Follow</a>
        {% endif %}
        <br>
    {% endif %}
    {% if request.user == user_profile %}
        <button onclick="location.href='{% url 'user_management:profile_edit' %}'">Edit Profile</button>
    {% endif %}

    <h2>All public communications:</h2>
    <div class="posts-list">
        {% for post in original_posts %}
        <div class="post">
            <p class="post-date">
                <em>{{ post.creation_time|date:"F d, Y H:i" }}</em>
            </p>
            {% if post.parent_post %}
            <p>
                <strong>Reply to <a href="{% url 'user_management:user_details' user_id=post.parent_post.author.id %}">{{ post.parent_post.author.username }}</a> (Hoot# <a href="{% url 'public_messages:post_details' post_id=post.parent_post.id %}">{{ post.parent_post.id }}</a>)</strong>
            </p>
            {% else %}
            <p><strong>Original Post</strong></p>
            {% endif %}
            <div class="post-content">{{ post.content }}</div>
            <a href="{% url 'public_messages:reply_post' parent_id=post.id %}">Reply</a>
            <br><br><br>
        </div>
        {% empty %}
        <p>No public communications to show.</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}
