{% extends 'core/base_generic.html' %}

{% block title %}Everyone Else's Posts{% endblock %}

{% block content %}
<h2>Everyone else's Hoots (recent first)</h2>
<br>
<div class="posts-list">
    {% for post in posts %}
    <div class="post">
        <p class="post-date">
            <strong><a href="{% url 'user_management:user_details' user_id=post.author.id %}">{{ post.author.username }}</a></strong> Hooted this at <em>{{ post.creation_time|date:"F d, Y H:i" }}</em>
        </p>
        <div class="post-content">{{ post.content }}</div>
        <!-- Updated to dynamically create the reply link using the post's ID -->
        <a href="{% url 'public_messages:reply_post' parent_id=post.id %}">Reply</a>
        <br><br><br>
    </div>
    {% empty %}
    <p>No posts from others to display.</p>
    {% endfor %}
</div>
{% endblock %}
