{% extends 'core/base_generic.html' %}

{% block content %}
<div class="container">
    <h1>{% if parent_post %}Write Your Reply{% else %}Start a Conversation{% endif %}</h1>
    <form method="post" action="{% if parent_post %}{% url 'public_messages:create_post' parent_id=parent_post.id %}{% else %}{% url 'public_messages:create_post' %}{% endif %}">
        {% csrf_token %}
        {{ form.content }}
        <br>
        <br>
        <br>
        <button type="submit" class="btn btn-primary">{% if parent_post %}Submit reply{% else %}Create thread{% endif %}</button>
    </form>
</div>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
